---
layout: default
title: edus2, blog
---
<h2> Emergency Department Ultrasound Simulator</h2>
<img style="float:right;margin:0 5px 0 0;" src="/images/edus2_complete_10.png"/>
<p>
The edus2 is an open source tool that integrates ultrasound into existing simulation suites at a fraction of the cost of commercially available systems.  Full details on the <a href="https://github.com/asclepius/edus2/wiki/">wiki</a>.
</p>
<p>
<a href="https://github.com/asclepius/edus2/">Code</a>, <a href="https://github.com/asclepius/edus2_video">video</a>, and <a href="https://github.com/asclepius/edus2/wiki/Installation">instructions on buliding your own</a> are free.  Just add <a href="https://github.com/asclepius/edus2/wiki/Hardware">hardware</a>.
</p>

Here is it in action:
<iframe src="http://player.vimeo.com/video/34991434" width="400" height="534" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/34991434">edus2</a> from <a href="http://vimeo.com/user9719802">Paul Olszynski</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<p>
If you need assistance in completing a system.  Please <a href="/contact/">contact us</a> and we can help you get up and running.
</p>
<p>
We have done most of the work, but <a href="https://github.com/asclepius/edus2/issues">tasks</a> remain open to make this project better.  If you have a background in software or mechanical design and would like to help out please <a href="/contact/">contact us</a> or checkout the <a href="https://github.com/asclepius/edus2/issues">GitHub issues page</a>.
</p>
<h2>Blog posts</h2>
<ol id="archive">
  {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <p><a href="{{ post.url }}">{{ post.title }}</a></p>
    </li>
  {% endfor %}
</ol>
{% include footer.html %}
