<hr>
<footer>
<p>
Follow us <a href="http://feeds.feedburner.com/edus2">here</a>

<a href="http://feeds.feedburner.com/edus2" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds.feedburner.com/edus2" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a>
</p>
<p>
<a href="{{ site.baseurl }}/contact/">Contact us</a> for more information on how it works or how you can get one.  Any comments or suggestions are also appreciated.  Download the full project description <a href="{{ site.baseurl }}/files/EDUS2final.pdf">here</a>.
</p>
</footer>
