<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/stylesheets/default.css?9" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/stylesheets/highlight.css?9" rel="stylesheet" type="text/css">
    <link href='{{ site.baseurl }}/images/favicon.ico' rel='shortcut icon' type='image/ico'>
  </head>
  <body>
    <h1><a href="{{ site.baseurl }}">edus<sup>2</sup></a></h1>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}">Intro</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="https://github.com/asclepius/edus2/wiki">Wiki</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
